@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, boby {
    min-height: 100vh; /*altura*/
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;  /*letras maiusculas*/
    font-variant: small-caps;  /*Comezo da letra mais grande*/
}
header > p {
    padding-bottom: 50px;
    color: white; 
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    color: white
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}